@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar ko sundar banane ke liye */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 5px;
}

body {
  background-color: #0f172a; /* Dark Blue Background */
  color: white;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px; /* Ye magic line hai! */
}